@media (max-width: 1024px) {
  /* COURSES */
  .courses img {
    width: 24rem;
    margin: 0.2rem 0;
    border-radius: 8px;
  }
  .courses h2 {
    padding: 0.6rem 1rem;
  }
  .courses p {
    padding: 0 1.2rem;
  }
  /* CONTACT */
  .form-contact {
    width: 90%;
  }
}

@media (max-width: 768px) {
  /* COURSES */
  .main-courses {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .courses1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 1rem;
  }
  .courses2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-bottom: 1rem;
  }
  /* CONTACT */
  .main-contact {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }
  .sectionContact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: var(--color4);
    border-radius: 10%;
    padding-bottom: 1rem;
  }
  .sectionForm {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .form-contact {
    width: 90%;
  }
}

@media (max-width: 550px) {
  /* CONTACT */
  .main-contact {
    grid-template-rows: repeat(2, 1fr);
  }
  .sectionForm {
    grid-row: 2 / 3;
  }
  /* FOOTER */
  footer h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .footer-info p,
  .footer-links p,
  .footer-social a {
    font-size: .9rem;
    font-weight: 700;
  }
  .footer-social h2 {
    padding-bottom: 2rem;
  }
}
