@media (max-width: 550px) {
  /* FOOTER */
  footer h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .footer-info p,
  .footer-links p,
  .footer-social a {
    font-size: .9rem;
    font-weight: 700;
  }
  .footer-social h2 {
    padding-bottom: 2rem;
  }
}
