* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  min-height: 100vh;
  background-color: $color5;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
main {
  min-height: 90vh;
}