/* CONTACT */
.main-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  .sectionContact {
    grid-column: 1 / 2;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;

    h1 {
      padding: 2rem 0;
    }
    .flicker-in-1 {
      -webkit-animation: flicker-in-1 2s linear both;
      animation: flicker-in-1 2s linear both;
    }
    @-webkit-keyframes flicker-in-1 {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
      }
      10.1% {
        opacity: 1;
      }
      10.2% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      20.1% {
        opacity: 1;
      }
      20.6% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      30.1% {
        opacity: 1;
      }
      30.5% {
        opacity: 1;
      }
      30.6% {
        opacity: 0;
      }
      45% {
        opacity: 0;
      }
      45.1% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      55% {
        opacity: 1;
      }
      55.1% {
        opacity: 0;
      }
      57% {
        opacity: 0;
      }
      57.1% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      60.1% {
        opacity: 0;
      }
      65% {
        opacity: 0;
      }
      65.1% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      75.1% {
        opacity: 0;
      }
      77% {
        opacity: 0;
      }
      77.1% {
        opacity: 1;
      }
      85% {
        opacity: 1;
      }
      85.1% {
        opacity: 0;
      }
      86% {
        opacity: 0;
      }
      86.1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes flicker-in-1 {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0;
      }
      10.1% {
        opacity: 1;
      }
      10.2% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      20.1% {
        opacity: 1;
      }
      20.6% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      30.1% {
        opacity: 1;
      }
      30.5% {
        opacity: 1;
      }
      30.6% {
        opacity: 0;
      }
      45% {
        opacity: 0;
      }
      45.1% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      55% {
        opacity: 1;
      }
      55.1% {
        opacity: 0;
      }
      57% {
        opacity: 0;
      }
      57.1% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      60.1% {
        opacity: 0;
      }
      65% {
        opacity: 0;
      }
      65.1% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      75.1% {
        opacity: 0;
      }
      77% {
        opacity: 0;
      }
      77.1% {
        opacity: 1;
      }
      85% {
        opacity: 1;
      }
      85.1% {
        opacity: 0;
      }
      86% {
        opacity: 0;
      }
      86.1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }

    p {
      padding: 0 3rem 1rem;

      @media (max-width: 1024px) {
        text-align: justify;
      }
    }
    .slide-in-left {
      -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .slide-in-left1 {
      -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        0.75s both;
      animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s
        both;
    }
    .slide-in-left2 {
      -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        1.5s both;
      animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
    }
    @-webkit-keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }

    @media (max-width: 768px) {
      background-color: $color4;
      border-radius: 10%;
      padding-bottom: 1rem;
    }

    @media (max-width: 550px) {
      font-size: 1rem;
    }
  }

  .sectionForm {
    grid-column: 2 / 3;

    .form-contact {
      width: 60%;
      margin: 0.5rem auto;
      border: 1px solid $color1;
      padding: 0.5rem;
      border-radius: 10px;
      background-color: $color3;
      box-shadow: 4px 4px 8px 2px $gray;

      .btnForm {
        background-color: $color2;

        &:hover {
          background-color: $color1;
        }
      }

      @media (max-width: 1024px) {
        width: 90%;
      }

      .form-label {
        @media (max-width: 550px) {
          font-weight: 700;
        }
      }
    }
    .jello-horizontal {
      -webkit-animation: jello-horizontal 0.9s both;
      animation: jello-horizontal 0.9s both;
    }
    @-webkit-keyframes jello-horizontal {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    @keyframes jello-horizontal {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @media (max-width: 768px) {
      padding: 1.5rem 0;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 550px) {
    padding: 1rem 0;
  }
}
