/* FOOTER */
footer {
  background-color: $color1;
  padding: 20px 0;
  font-weight: 500;

  h3 {
    text-align: center;
    padding-bottom: 0.6rem;

    @media (max-width: 550px) {
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 0;
      text-decoration: underline;
    }
  }

  .footer-info {
    line-height: 1.5rem;

    p {
      text-align: center;
      font-size: 1.2rem;
      padding: 0.4rem 2rem;

      @media (max-width: 550px) {
        font-size: 0.9rem;
        font-weight: 700;
      }
    }
  }
  .footer-links {
    ul {
      font-size: 1.1rem;
      list-style: none;
      padding: 0;

      @media (max-width: 550px) {
        display: flex;
        gap: 1rem;
      }

      a {
        text-decoration: none;
        color: #000;
        transition: 0.8s;
        line-height: 0.5px;

        &:hover {
          transform: scale(1.1);
        }

        @media (max-width: 550px) {
          font-size: 0.9rem;
          line-height: 1rem;
          font-weight: 700;
        }
      }
    }
  }
  .footer-social {
    h2 {
      @media (max-width: 550px) {
        padding: 0.5rem 0 1rem;
      }
    }

    ul {
      font-size: 1.1rem;
      list-style: none;
      padding: 0;
      line-height: 2rem;

      @media (max-width: 550px) {
        display: flex;
        gap: 1rem;
      }
    }

    a {
      text-decoration: none;
      color: #000;

      @media (max-width: 550px) {
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 2rem;
      }
    }

    .bi-facebook,
    .bi-linkedin {
      color: #3257a6;
    }
    .bi-instagram {
      color: transparent;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  .footer-bottom {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.2rem;

    @media (max-width: 550px) {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
