header {
  position: sticky;
  top: 0;
  z-index: 10;
  /* NAVBAR */
  .navbar {
    background-color: $color1 !important;
    .active {
      background-color: $color2 !important;
    }
    .btn-outline-warning:hover {
      background-color: $color2;
    }
    .btn-outline-warning:active {
      background-color: $color2 !important;
    }
    .navbar-brand {
      transition: all 1s;
    }
    .navbar-brand:hover {
      transform: scale(1.1);
      text-shadow: 4px 4px 2px rgba(80,79,79,0.6);
    }
    .logo {
      width: 2.1rem;
      border-radius: 50%;
    }

    @media (max-width: 990px) {
      .linea {
        display: none;
      }
    }
  }
}